@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="~/Images/thC60LE1DL.jpg" class="card-img-top thumbnail" alt="..." style="width:200px;height:200px;">
                <div class="card-body">
                    <h5 class="card-title">Ecole</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/Images/th0JJ67TIC.jpg" class="card-img-top thumbnail" alt="..." style="width:200px;height:200px;">
                <div class="card-body">
                    <h5 class="card-title">Matiere</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/Images/thJQG4RPJ5.jpg" class="card-img-top thumbnail" alt="..." style="width:200px;height:200px;">
                <div class="card-body">
                    <h5 class="card-title">Classe</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>

                </div>
            </div>
        </div>

    </div>
</div>
